<ion-header>
  <ion-toolbar>
    <ion-title>
      Card Turisticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of lugar" >
    <img src="{{item.image}}" />
    <ion-card-header>
      <ion-card-subtitle>Destino</ion-card-subtitle>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
  </ion-card>

  <h1>{{usuario[0].nombre}}</h1>

  <ul *ngFor="let user of usuario" >
    <li>{{user.nombre}}</li>
  </ul>

  <ul *ngFor="let user of usuario" >
    <span *ngIf="user.estado" >
      <li>{{user.nombre}}</li>
    </span>
  </ul>
</ion-content>
